.body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  padding: 0;
}

.nav {
  display: none;
}

.logo {
  font-family: 'Alfa Slab One';
  padding: 1rem;
  font-size: 2rem;
}

.header {
  height: 80vh;
  background: #202460;
  color: #fff;
  position: relative;
}

.header h1 {
  font-size: 2rem;
  position: absolute;
  top: 30%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.header p {
  color: #FF5E21;
  padding-top: 2rem;
  font-size: 1rem;
  position: absolute;
  top: 60%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.event {
  height: 80vh;
  background: #F3F3F3;
  color: #594F59;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 20px;
      grid-template-rows: 1fr 1fr 20px;
  overflow: hidden;
}

.event .event-text__wrapper {
  position: relative;
  padding: 1rem;
  padding-top: 4rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.event .event-image__wrapper {
  overflow: hidden;
  position: absolute;
  width: 80vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.event .image-event_1_1 {
  position: absolute;
  left: -100px;
}

.event .image-event_1_2 {
  display: none;
}

.event .image-event_1_3 {
  display: none;
}

.event h2 {
  font-size: 1rem;
}

.event span {
  margin-top: 1rem;
  color: #FF5E21;
}

.event span::after {
  content: " ";
  display: block;
  width: 205px;
  height: 3px;
  background: #FF5E21;
}

.event P {
  font-size: 1rem;
}

.event p::before {
  content: " ";
  display: inline-block;
  background-color: #FF5E21;
  height: 15px;
  width: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 0.5rem;
}

.event .nav {
  display: none;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.event .nav div {
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #202460;
}

.project {
  height: 80vh;
  background: #FF5E21;
  text-align: center;
  padding-top: 30%;
  position: relative;
}

.project h1 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 12px 10px 0px #0080FF;
}

.project .project__wrapper {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
}

.project .project__wrapper h2 {
  position: relative;
  font-weight: 900;
  font-size: 2rem;
  z-index: 1;
}

.project .project__wrapper div div {
  position: absolute;
  z-index: 0;
  display: block;
  height: 20px;
  width: 80px;
}

.project .project__wrapper .project-Sport {
  background: #F2D544;
  top: 40px;
  left: 40px;
}

.project .project__wrapper .project-Edukacja {
  background: #D8F0F2;
  width: 120px;
  top: 120px;
  left: 40px;
}

.project .project__wrapper .project-Kultura {
  background: #A1F250;
  top: 190px;
  left: 90px;
}

.project .project__conteiner {
  position: absolute;
  margin: 0 15% 0;
  top: 240px;
  width: 160px;
  height: 40px;
  background: white;
}

.project a {
  font-size: 0.8rem;
}

.Article {
  height: 80vh;
  position: relative;
}

.Article p {
  text-align: center;
}

.Article h1 {
  text-align: right;
  font-size: 2rem;
  display: block;
  font-weight: 900;
  margin-bottom: 0;
}

.Article h1::before {
  content: "";
  display: inline-block;
  background-color: #FF5E21;
  height: 15px;
  width: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 0.5rem;
}

.Article h2 {
  text-align: right;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0.2rem;
}


.Article h3 {
  text-align: right;
  font-weight: 600;
  font-size: 0.6rem;
}

.article1_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 20px;
      grid-template-rows: 1fr 1fr 20px;
}

.article-text__wrapper {
  padding: 0 1rem 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin-right: 2rem;
}

.article__button {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 20% 0;
}

.article__image {
  overflow: hidden;
  margin: auto;
  height: auto;
  width: 90%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}
/*# sourceMappingURL=main.css.map */